.section{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

.header {
    display: flex
}

.my-photo{
    width: 200;
}

.intro {
  display: flex;
  height: 255px;
}
  
.fio {
  flex: 80%;
  text-align: center;
}
  
.photo {
  flex: auto;
}

.name{
    font-size: 70px;
}

.proff{
    font-size: 35px;
}

.content{
    display: flex;
}

.main-content{
    flex: auto;
    background-color: darkseagreen;
    padding: 10px 30px 60px;
}

.side-content{
    flex: auto;
    min-width: 234px;
    max-width: 234px;
    background-color: cornflowerblue;
    padding: 10px 10px 60px;
}

.section-header > h3{
    font-size: 35px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    border-bottom: 2px solid black;
}

.section-body > p{
    font-size: 22px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contacts{
    padding-left: 0px;
}

.contacts > li{
    list-style: none;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.contacts > li > i {
    position: relative;
    top: 3px;
}

.footer-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:dimgray;
}

.footer-year {
    width: 100px;
    text-align: center;
    font-size: 37px;
    line-height: 37px;
    font-weight: bold;
    color: black;
  }

  .footer-git {
    font-size: 25px;
  }

  .footer-rs {
    width: 100px;
    position: relative;
  }